$ = hips-; // 类前缀

// 颜色
$baseColor = #1F8CEB; // 主色
$borderColor = #EEEEEE; // 边框色
$bgColor = #FAFAFA; // 背景色
$textColor = #4A4A4A; // 文本色
$arrowColor = #c8c8cd; // 箭头色

// 长度
$paddingLength = 15px; // 内容填充长度
