.tr{
    text-align:right;
}

.tl{
    text-align:left;
}

.f14{
    font-size:14px;
}

.dn{
    display:none;
}

.db{
    display:block;
}

.ell{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.clearfix:after{
    content:'\200B';
    display:block;
    height:0;
    clear:both;
}